*{text-align: right;
font-family:Arial, Helvetica, sans-serif;
color:#3c4043;
margin:none;
padding: none;}

body {height:100vh;
display: flex;
flex-direction: column;
    margin: 0;}

li {list-style: none;
display: inline-block;
padding: 5px;
line-height: 24px;
vertical-align: middle;
}
.headpic{border-radius: 30px;}
.headpic:hover{ box-shadow: 0 0 5px #00000050;}

.bartext:hover{text-decoration: underline;}

.google{display: block;
    margin-left: auto;
    margin-right: auto;
    padding:35px;
    max-width: 100%;
    height: 90px;
}
.search{display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding:10px;  
    margin-bottom: 30px; 
    text-align: left;
    border: 1px solid rgb(207, 198, 185);
}

.search:hover{ box-shadow: 0 0 5px #00000050;}

.search1{ position: relative;
    text-align: center;
    display:inline-block;
padding: 12px;
border: none;
border-radius:5px;
background-color: rgb(243, 243, 243);
font-weight: bold;
margin: 0.5%;
}
.search1:hover{ box-shadow: 0 0 5px #00000050;}
p{text-align:center;}
span{color: blue;}
span:hover{text-decoration-line:underline;}

footer{
    font-size: 0.9rem;
    bottom: 0px;
    background-color:rgb(243, 243, 243) ;
    margin-top:auto;}

.carbon{position:relative;
    text-align: center;
    padding-left: 0;
    margin:0;
}

.propos{display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
    text-align: left;}

.signaler{text-align: right;
    margin-left: auto;}

.propos .signaler{display: inline-block;}
#head{margin-bottom: auto;}
#fr {padding-top:15px;
margin:0;}
#s1{text-align: center;
        margin-bottom: 9%;}
#ggl{margin-top:2rem;}
